Searchex is a new search engine written in pure Elixir
<ul class="list-group" style="margin-top: 10px;">
  <li class="list-group-item"><a target="_blank" href="https://github.com/elixir-search/searchex">GitHub Project</a></li>
  <li class="list-group-item"><a target="_blank" href="https://gitter.im/elixir-search/searchex">Gitter Chat</a></li>
  <li class="list-group-item"><a target="_blank" href="https://hex.pm/packages/searchex">Hex Package</a></li>
  <li class="list-group-item"><a target="_blank" href="https://hexdocs.pm/searchex">API Docs</a></li>
</ul>
